/*imported a custom font from google fonts*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

/* Set the desired width, font-family, text alignment and background-color for the index page */
body {
  width: 95%;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  background-color: lightgreen;
}

/* Main heading styling declaration */
h1 {
  color: goldenrod;
  text-shadow: 2px 2px 3px black;
}

/*Main webpage focal image style declarations*/
img {
  width: 390px;
  height: 240px;
}

button {
  margin: 0 25px;
  font-size: 1.2rem;
  background-color: blue;
  color: white;
  padding: 4px;
  border-radius: 3px;
  cursor: pointer;
}

span {
  font-weight: bold;
  color: white;
  margin-left: 15px;
  text-shadow: 2px 2px 3px black;
}
/*style declaration to style the user's score value on the page*/
#score {
  color: orangered;
  text-shadow: 1px 1px 1px black; 
}
